<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no">
  <title>artificial.fm</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  <script src="{{ url_for('static', filename='js/main.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/metaball.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/shader.js')}}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/magic-master/dist/magic.min.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
  <!-- Top Info -->
  <div class = "header">
    <img src = "{{ url_for('static', filename='img/afm_logo.png')}}" width = "25%" id = "logo"><br>
    <span id= "about" class = "navButton">about</span> | <span id = "terms" class = "navButton">terms</span>  | <span id = "getinvolved" class = "navButton">get involved</span> 
  </div>
  
  <div id="title">
    <span id="track"></span>
    <!-- <div id="timer">0:00</div> -->
    <!-- <span id="timer">0:00</span> -->
    <!-- <div id="duration">0:00</div> -->
    <div id = "time">
      <span id="timer">0:00</span> / <span id="duration">0:00</span>
    </div>
  </div>

  <!-- Controls -->
  <div class="controlsOuter">
    <div class="controlsInner">
      <div id="loading"></div>
      <div class="btn" id="playBtn"></div>
      <div class="btn" id="pauseBtn"></div>
      <div class="btn" id="prevBtn"></div>
      <div class="btn" id="nextBtn"></div>
    </div>
    <div class="btn" id="playlistBtn"></div>
    <div class="btn" id="volumeBtn"></div>
  </div>

  <!-- Progress -->
  <div id="waveform"></div>
  <div id="bar"></div>
  <div id="progress"></div>

  <!-- Playlist -->
  <div id="playlist">
    <div id="list"></div>
  </div>

  <!-- Volume -->
  <div id="volume" class="fadeout">
    <div id="barFull" class="bar"></div>
    <div id="barEmpty" class="bar"></div>
    <div id="sliderBtn"></div>
  </div>
  <div class = "subjectiveOuter" id = "query">
    <p id = "modality">How realistic is this song?</p>
     <div class="rate">
        <input type="radio" id="star" name="rate" value="5" />
        <label for="star5" title="text" class = "clickable">5 stars</label>
        <input type="radio" id="star" name="rate" value="4" />
        <label for="star4" title="text"  class = "clickable">4 stars</label>
        <input type="radio" id="star" name="rate" value="3" />
        <label for="star3" title="text"  class = "clickable">3 stars</label>
        <input type="radio" id="star" name="rate" value="2" />
        <label for="star2" title="text"  class = "clickable">2 stars</label>
        <input type="radio" id="star" name="rate" value="1" />
        <label for="star1" title="text"  class = "clickable">1 star</label>
      </div>
  </div>
  <div class = "description" style=  "display:none;">
    <img src = "{{ url_for('static', filename='img/close.png')}}" width = "5%" id = "close_button">
    <div id = "text">
    </div>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/howler.core.js')}}"></script>
  <script src="{{ url_for('static', filename='js/siriwave.js')}}"></script>
  <script src="{{ url_for('static', filename='js/player.js')}}"></script>
  <script>

    var songList = {{ songs | tojson }};
    var new_questions = ["How memorable is this song?","How happy is this song?","How danceable is this song?"]

    $("#modality").attr("song" , songList[0]);

    $( "#terms" ).click(function() {
      $( ".description" ).show();
      $( "#text" ).html("<p>Artificial.fm is an MIT research project. All interactions will be collected for research purposes. All data for research is collected anonymously. For questions, please contact artificialfm@mit.edu.<br><br> If you are under 18 years old, you need consent from your parents to use Artificial.fm.</p>");
    });

   $( "#about" ).click(function() {
    $( ".description" ).show();
      $( "#text" ).html("<p>Artificial.fm is an experimental platform that explores a new medium: AI radio. Developed by the MIT Media Lab, the platform hosts stations that play songs generated by AI. These AI-generated songs are made in a collaboration between up-and-coming musicians, a deep neural network, and crowdsourced rating labels. In addition to listening to this new kind of music, users can also provide feedback on the generated songs, thus helping the AI learn to generate better music in the future.</p><br><p>The system relies on ratings to improve itself, so enjoy the music, and provide feedback when you can!</p>");
    });

    $( "#getinvolved" ).click(function() {
      $( ".description" ).show();
      $( "#text" ).html("If you are a musician and would like to collaborate with artificial.fm, please contact us at artificialfm@mit.edu");
    });

    $( "#close_button" ).click(function() {
      $( ".description" ).hide();
    });

    var next_song = function(x){
      var current_url = songList[parseInt(x)];
      $("#modality").attr("song" , current_url);

      var new_questions = ["How memorable is this song?","How happy is this song?","How danceable is this song?"]
      $("#modality").text(new_questions[0]);
      $(".subjectiveOuter").removeClass('magictime spaceOutLeft');
      $(".subjectiveOuter").addClass('magictime spaceInRight');
    }

    $( ".clickable" ).click(function() {
      console.log($("#modality").attr("song"));
      console.log($("#modality").text()); 
      console.log(this.textContent.charAt(0));

      var params = {'url' : $("#modality").attr("song"),'question' : $("#modality").text(), "response" : this.textContent.charAt(0)}
            $.ajax({
            type: "POST",
            url: "user_response",
            data: params,
            success: function(data){
              console.log(data);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
              console.log("Status: " + textStatus); alert("Error: " + errorThrown);
            }
          });
      setTimeout(function(){
        $(".subjectiveOuter").addClass('magictime spaceOutLeft');

      }, 500);

       setTimeout(function(){ 
        if (new_questions.length>0){
          var q  = new_questions.pop()
          $("#modality").text(q);
          $(".subjectiveOuter").removeClass('magictime spaceOutLeft');
          $(".subjectiveOuter").addClass('magictime spaceInRight');
       
        }
       }, 1500);
    } );

    player_data = [];
    for (var i = 0; i < songList.length; i++) {
        var data = {"title" :i, 'file': songList[i], "howl":null};
        player_data.push(data)
    }
    console.log(player_data)

    var player = new Player(player_data);

    addListeners();
  </script>
</body>
</html>